In [113]:
import numpy as np
import pandas as pd
import re

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import matplotlib.pyplot as plt

In [114]:
#    text_to_clean = re.sub(r'[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)', '', text_to_fuck)
def clean_input(text_to_clean):
    text_to_clean = text_to_clean.lower()
    text_to_clean = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)', '', text_to_clean)
    text_to_clean = re.sub(r'[0-9]+', 'number', text_to_clean)
    text_to_clean = re.sub(r'[^a-zA-Z\u0621-\u064A\s]', '', text_to_clean)
    text_to_clean = re.sub(r'numbernumber+', 'number', text_to_clean)
    return text_to_clean

In [115]:
train=pd.read_csv('Dataset/train.csv')
test=pd.read_csv('Dataset/test.csv')
y_test=pd.read_csv('Dataset/submit.csv')

In [116]:
train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [117]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [118]:
#Initializ y_train and x_train
train['text_merge'] = train['title'].astype(str) + ' ' + train['author'].astype(str) + ' ' + train['text'].astype(str)
x_train = train['text_merge']
y_train = train.drop(['id','title','author','text','text_merge'],axis=1)
y_train = np.array(y_train)

print(x_train.shape)
print(y_train.shape)

(20800,)
(20800, 1)

In [119]:
#Initializ y_test and x_test
test['text_merge'] = test['title'].astype(str) + ' ' + test['author'].astype(str) + ' ' + test['text'].astype(str)
x_test = test['text_merge']
y_test = y_test.drop(['id'],axis=1)
y_test = np.array(y_test)
# x_test

In [124]:
for i in range(x_train.shape[0]):
    x_train.values[i] = clean_input(x_train[i])
    # print(x_train[i])
    # print('-'*100)
    # print('-'*100)
    # print('-'*100)
    # print(x_train[i])
    # print('-'*100)
    # print('-'*100)
    # print('-'*100)

In [125]:
x_train.head()

0    house dem aide we didnt even see comeys letter...
1    flynn hillary clinton big woman on campus  bre...
2    why the truth might get you fired consortiumne...
3    number civilians killed in single us airstrike...
4    iranian woman jailed for fictional unpublished...
Name: text_merge, dtype: object

In [131]:
number_words = 1000
maxlen = 128
truncat = 'post'
padd = 'post'
token = '<OOV>'

tokenizer = Tokenizer(num_words = number_words , oov_token = token)
tokenizer.fit_on_texts(x_train)

word_index = tokenizer.word_index

sequences_train = tokenizer.texts_to_sequences(x_train)
X_train = pad_sequences(sequences_train, maxlen = maxlen, truncating = truncat, padding = padd)

sequences_test = tokenizer.texts_to_sequences(x_test)
X_test = pad_sequences(sequences_test, maxlen = maxlen, truncating = truncat, padding = padd)

In [146]:
# print(sequences_train)
# print(sequences_test)
# print(word_index)
print(X_train.shape)
print(X_test.shape)
print(X_train)
print(X_test)

(20800, 128)
(5200, 128)
[[127   1   1 ...   1   2   1]
 [  1 108  73 ... 268   1   7]
 [183   2 671 ...   2   1   4]
 ...
 [  1  10  18 ...  41 512   3]
 [  1 170   3 ... 971   1 341]
 [ 56   1   2 ...   1   1   1]]
[[  1   4  37 ...  26 951  53]
 [225   1   1 ...   1   1   2]
 [  1   1  98 ... 147  71   1]
 ...
 [489 292  56 ...  40 540   3]
 [  1  63   1 ...   1  52  31]
 [  1   1   1 ...  34   1 126]]